body {
  font: 10px sans-serif;
}

g.main {
  pointer-events: none
}

rect.click {
  fill: #fff;
  stroke: none;
  cursor: crosshair;
  pointer-events: all;
}

path.dot {
  fill: white;
  stroke-width: 1.5px;
}

rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x line, .y line {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

rect.block {
  fill: #aaa;
  stroke: #999;
}

rect.selected, rect.stickySelected {
  stroke: #aa0;
  fill: #FF0;
}

rect.old {
  fill: #ccc;
}

path.distribution {
  fill: none;
  stroke: #f00;
}

line.median, line.xmedian, line.ymedian {
  fill: none;
  stroke: #0f0;
  stroke-width: 2;
}

div.chartGroup {
  clear: both;
}

div.histogram, div.scatter {
  float: left;
}

div.histogram h2 {
  padding: 20;
  text-align: center;
  margin-bottom: 0;
}