body {
  font: 10px sans-serif;
}

path.dot {
  fill: white;
  stroke-width: 1.5px;
}

rect {
  fill: null;
  stroke: black;
  shape-rendering: crispEdges;
}

.x line, .y line {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

rect.block {
  fill: #aaa;
  stroke: #aaa;
  shape-rendering: crispEdges;
}

rect.newblock {
  stroke: #333;
  fill: #FF0;
}

rect.old {
  fill: #ccc;
}

div.chartGroup h1 {
}

div.histogram {
  float: left;
}

div.histogram h2 {
  padding: 20;
  text-align: center;
  margin-bottom: 0;
}