body {
  font: 10px sans-serif;
}

h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

g.main {
  pointer-events: none
}

rect.click {
  fill: #fff;
  stroke: none;
  cursor: crosshair;
  pointer-events: all;
}

path.dot {
  fill: white;
  stroke-width: 1.5px;
}

rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x line, .y line {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

rect.distribution {
  fill: #f00;
  fill-opacity: 0.25;
  stroke: none;
}

rect.block {
  fill: #aaa;
  stroke-width: 0.125;
  stroke: #777;
}

rect.selected, rect.stickySelected {
}

line.selected {
  stroke: #000;
}

rect.old {
  fill: #ccc;
}

path.distribution, line.distribution {
  fill: #F00;
  stroke: #f00;
  fill-opacity: 0.25;  
}

line.median, line.xmedian, line.ymedian {
  stroke: #0c0;
  stroke-width: 3;
}

text.axislabel {
  font-size: 12pt;
}

div.chartGroup {
  clear: both;
}

div.histogram, div.scatter {
  clear: both;
}

div.histogram h2 {
  padding: 20;
  text-align: center;
  margin-bottom: 0;
}

div#inputs {
  margin: 0;
  padding: 0;
  width: 500px;
  float: left;
  text-align: center;
}

div#outputs {
  margin: 0;
  padding: 0;
  width: 500px;
  float: right;
  text-align: center;
}

td.value {
  text-align: right;
}

tr#publicSpend td, tr#target td {
  font-weight: bold;
}

div#controls {
  width: 100%;
  text-align: center;
  height: 15px;
  color: #aaa;
}

div#controls a {
  color: #aaa;
}
